.sidenav-container {
  height: 100%;
 
}
  .sp{
    flex: 1 1 auto;
  }


.sidenav {
  width: 200px;
  

}

.sidenav .mat-toolbar {
  background: inherit;
  color: indigo;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  

}
