<mat-drawer-container>
   
    <mat-drawer-content>
      <header style="padding: 0%;margin:0%;color:black"> 
        <div class="mat-display-3">Dotitude 
        <img src="../assets/icons/99xt.jpg" style="padding-left: 5px;padding-right:0px;">  <!-- <p> -->
        </div>  
       
        <!-- </p>> -->
      </header>
      <mat-grid-list cols="3" rowHeight="1:1" style="padding-top: 0%;margin-top: 0%;">
        <mat-grid-tile >
          <app-interns></app-interns>
        </mat-grid-tile>
        <mat-grid-tile>
  <app-audience></app-audience>
          </mat-grid-tile>
        <mat-grid-tile>
          <app-linec></app-linec>
        </mat-grid-tile>
        <mat-grid-tile >
          
         <app-intcv></app-intcv>
  
  
        </mat-grid-tile>
        <mat-grid-tile>
          <app-index></app-index>
            </mat-grid-tile>
        <mat-grid-tile>
          <app-hist></app-hist>
        </mat-grid-tile>
 
       
      </mat-grid-list>
      <footer class="footer">
        <p style="color: white;"> @99XTechnologies</p>
        </footer>
    </mat-drawer-content>
    
   
  </mat-drawer-container>
