<mat-card style="width: 250px;height:280px">
  <b> Internship 4.0 Evaluation</b><br>
    <b>Round one</b><br>
SE<mat-slider 
  (input)="someValue = $event.value" 
  [value]="someValue"
  bac>
</mat-slider>
{{ someValue}}<br>QA
<mat-slider 
  (input)="someValue1 = $event.value" 
  [value]="someValue1">
  
</mat-slider>
{{ someValue1 }}<br>BA
<mat-slider 
  (input)="someValue2 = $event.value" 
  [value]="someValue2">
</mat-slider>
{{ someValue2 }}<br>
<b>Round 2</b><br>SE

<mat-slider 
  (input)="someValue3 = $event.value" 
  [value]="someValue3">
</mat-slider>
{{ someValue3 }}<br>QA
<mat-slider 
  (input)="someValue4 = $event.value" 
  [value]="someValue4">
</mat-slider>
{{ someValue4 }}

</mat-card>